<!-- *************************************************** Barre de navigation ************************************************************************* -->
<div id="navbarStyle" class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="home">
                <img id="logo" src="../assets/image/logo-pink.png" alt="" (click)="checkHome()">
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item" *ngFor="let inb of dataNavBar">
                        <a class="nav-link" routerLink="{{inb.routerLink}}" (click)="watchNavBarVert(inb)"
                            role="button">{{inb.item}}</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false">
                <div class="togglerIcon" id="togglerIcon" (click)="togglerAnim('togglerIcon')">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <bouton routerLink="user" type='button' id="logIcon" *ngIf="(!sessionExist)">
                <img src="../assets/image/login---2.png" alt="" id="arrow">
                <img src="../assets/image/login---1.png" alt="" id="rectangle">
            </bouton>
            <bouton routerLink="user" type='button' data-bs-toggle="modal" data-bs-target="#unlogModal" id="unlogIcon" *ngIf="(sessionExist)">
                <i class="fas fa-user text-success"></i>

            </bouton>
        </div>
    </nav>
</div>
<!-- ******************************************************* Modal User close Session ************************************************** -->
<div  class="modal fade" id="unlogModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container-fluid">
            <div class='d-grid gap-2 col-6 mx-auto mt-4 text-dark'>
                <a type='submit' data-bs-dismiss="modal" aria-label="Close" (click)=deleteSession()>Se Déconnecter</a>
            </div>
        </div>
    </div>
</div>

<!-- ******************************************************* navbar verticale ************************************************** -->

<div id="navert" class="container-fluid" *ngIf="(checkNavBarVert==true)">
    <nav class="nav flex-column" *ngFor="let inbt of dataNavBarVert">
        <a class="nav-link">{{inbt.name}}</a>
    </nav>

</div>

<router-outlet></router-outlet>