#navbarStyle{
    font-weight: 700;
    font-size: 20px; 
    background-color: #303030;
    padding: 10px;
   
}
.nav-link, .navbar-brand, #togglerIcon{
    color: #fa25cb !important;
}
.nav-link:hover, .navbar-brand:hover, #togglerIcon:hover{
    color: white !important;
}
#togglerIcon{
    font-size: 28px;
}
#logo{
    width:40px;    
}