#navbarStyle{
    font-weight: 700;
    font-size: 20px; 
    background-color: #303030;
    padding: 10px;
   
}
.nav-link, .navbar-brand{
    color: #fa25cb;
}
.nav-link:hover, .navbar-brand:hover{
    color:white
}
#logo{
    width:40px;    
}