<!-- *************************************************** Barre de navigation ************************************************************************* -->
<div id="navbarStyle">
    <nav class="navbar navbar-expand-sm sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="home">
                <i class="fas fa-sync-alt"></i>
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <ul class="navbar-nav m-auto" >

                <li class="nav-item" *ngFor="let inb of dataNavBar">
                    <a class="nav-link" routerLink="{{inb.routerLink}}" role="button">{{inb.item}}</a>
                </li>                                
                    
            </ul>
            <ul class="navbar-nav mr-auto" >
            <a routerLink="connexion" class="statutsession" type='button' data-bs-toggle="modal" data-bs-target="#userModal"></a>
            <!-- <span>  nom user  </span> -->
            </ul>
        </div>
        </div>
    </nav>
</div> 
  
  
  <!-- ******************************************************* Modal User************************************************** -->
  <div *ngIf="" class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container-fluid">
            
          <div class='d-grid gap-2 col-6 mx-auto mt-4'>
              <a type='submit' data-bs-dismiss="modal" aria-label="Close" routerLink='bibliotheque' >Se Déconnecter</a>
          </div>
            
        </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>