
/* **********************************************  barrde navigitation horizontale *********************************** */
#navbarStyle{
    font-weight: 700;
    font-size: 20px; 
    background-color: #303030;
    padding: 10px;
    position: sticky !important;
   
}
.nav-link, .navbar-brand, #togglerIcon{
    color: #fa25cb !important;
}
.nav-link:hover, .navbar-brand:hover, #togglerIcon:hover{
    color: white !important;
}
#togglerIcon{
    font-size: 28px;
}
#logo{
    width:40px;
    left: 10%;    
}

/* **********************************************  barre de navigation horizontale  ************************* */
#logo:hover{
    animation: rotate 7s linear infinite;   
}
@keyframes rotate{
    to{ transform: rotate(360deg); }
  }

#navert{
    background-color: #303030;
    max-width: 200px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 20px;
    height:500px;
    vertical-align: auto;
    position: sticky;
    float: left;
}

#rectangle, #arrow{
    max-width: 15%;
}

/* **********************************  animation connexion  ************************************* */
#arrow:hover{

    animation: transform 300ms ease-in-out 300ms;
    transform: translate(20px,0);
}


/* ******************************  animation hamburger  ***************************************** */
.center {
    font-size: 28px;
     top: 40px; 
    right: 20px;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 40px;
  }
  
  .center:before,
  .center:after,
  .center div {
    background: #fa25cb;
    content: "";
    display: block;
    height: 5px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  .center:hover:before {
    transform: translateY(12px) rotate(135deg);
  }
  .center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
  }
  .center:hover div {
    transform: scale(0);
  }
  
