h1{
    margin-bottom: 10vh;
    margin-top: 5vh;
}

.devUn{
    height: 30vh;
    
}

.info{
    background-color: white;
}

.bottomLeft{
    border-radius: 0 0 0 20px;
}
.upperLeft{
    border-radius: 20px 0 0 0;
}
.upperRight{
    border-radius: 0 20px 0 0;
}
.bottomRight{
    border-radius: 0 0 20px 0;
}