
<div style="margin-top: 150px;"></div>
<!-- <div id="logoDevelopper">

    <img src="../../../assets/image/logo-developper-pinkBorder.png" alt="">

</div> -->
<div class="">
    <div class="card mb-3 container">
        <div class="row " id="logoWithout">
            <div class="col-md-6 col-lg-5">
                <div>
                    <img src="../../../assets/image/logo-developper-whiteBorder-sync.png" id="sync"
                        class="img-fluid rounded-start" alt="...">
                    <img src="../../../assets/image/logo-developper-whiteBorder-withoutSync.png" id="noSync"
                        class="img-fluid" alt="">
                    <img src="../../../assets/image/logo-developper-pinkBorder.png" id="pink" alt="">
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold mb-5 text-center">Notre super application de synchronisation</h5>
                    <p class="card-text mb-5 text-center">Synchronisez simplement vos différents comptes</p>
                    <button class="btn btn-success" (click)='checkOrigin()'>Créer votre compte</button>
                </div>
            </div>
        </div>
    </div>
</div>

