.container{
    
}
.h2{
    color: rgb(255,255,255);
    position: fixed;
    left:35vw;
    top: 43vh;
}
.airBNB{
    padding: 10px;
    position: fixed;
    left: 0;
    top: 3vh;
    width: 20vw;
    height: 200px;
    background-color: rgb(211,211,211);
    border-radius: 0px 0px 30px 0px;
}
.booking{
    padding: 10px;
    position: fixed;
    left: 0;
    top: 81vh;
    width: 20vw;
    height: 200px;
    background-color: rgb(211,211,211);
    border-radius: 0px 30px 30px 0px;
}
.tripAdd{
    padding: 10px;
    position: fixed;
    right: 0;
    top: 3vh;
    width: 20vw;
    height: 200px;
    background-color: rgb(211,211,211);
    border-radius: 0px 0px 0px 30px;
}
.homeAway{
    padding: 5px;
    position: fixed;
    right: 0;
    top: 81vh;
    width: 20vw;
    height: 200px;
    background-color: rgb(211,211,211);
    border-radius: 30px 0px 0px 30px;
}

img{
    
        fill: rgb(0,0,0);
        width: 100%;
        height: 100%; 
}