<!-- <div class="container" id="container1">
    <div class="airBNB img-fluid">
        <img src="../../../assets/image/airbnb.png" alt="">
    </div>
    <div class="booking img-fluid">
        <img src="../../../assets/image/booking.png" alt="">
    </div>
    <div class="h2 row">
        <h2 class="text-center">Notre super application</h2>
        <button class="btn btn-success">Créer votre compte</button>
    </div>
    <div class="tripAdd img-fluid">
        <img src="../../../assets/image/tripadv.png" alt="">
    </div>
    <div class="homeAway img-fluid">
        <img src="../../../assets/image/homeaway.png" alt="">
    </div>
</div> -->
<div style="margin-top: 150px;"></div>
<!-- <div id="logoDevelopper">

    <img src="../../../assets/image/logo-developper-pinkBorder.png" alt="">

</div> -->
<div class="">
    <div class="card mb-3 container">
        <div class="row g-0">
            <div class="col-md-5">
                <img src="../../../assets/image/logo-developper-pinkBorder.png" class="img-fluid rounded-start"
                    alt="...">
            </div>
            <div class="col-md-7 d-flex justify-content-center align-items-center">
                <div class="card-body ">
                    <h5 class="card-title fw-bold mb-5">Notre super application de synchronisation</h5>
                    <p class="card-text mb-5">Synchronisez simplement vos différents comptes</p>
                    <button class="btn btn-success">Créer votre compte</button>
                </div>
            </div>
        </div>
    </div>
</div>