.container{
    background-color: rgb(20, 20, 20);
    
}
.h2{
    color: rgb(255,255,255);
    position: fixed;
    left:35vw;
    top: 43vh;
}
.airBNB{
    padding: 10px;
    position: fixed;
    left: 1vw;
    top: 3vh;
    width: 20vw;
    height: 200px;
    border-radius: 30px 30px 30px 30px;
}
.booking{
    padding: 10px;
    position: fixed;
    left: 1vw;
    top: 81vh;
    width: 20vw;
    height: 200px;
    border-radius: 30px 30px 30px 30px;
}
.tripAdd{
    padding: 10px;
    position: fixed;
    right: 1vw;
    top: 3vh;
    width: 20vw;
    height: 200px;
    border-radius: 30px 30px 30px 30px;
}
.homeAway{
    padding: 10px;
    position: fixed;
    right: 1vw;
    top: 81vh;
    width: 20vw;
    height: 200px;
    border-radius: 30px 30px 30px 30px;
}

img{
    
        fill: rgb(0,0,0);
        width: 100%;
        height: 100%; 
        border-radius: 30px 30px 30px 30px;
}

#logoDevelopper{
    margin:auto;
    width:50%
}

#logoWithout{
    width: 100%;
    height: 53.5vh;
    /* background-image: url("../../../assets/image/logo-developper-whiteBorder-withoutSync.png");
    background-position: center center;  */
   
    /* background-attachment: fixed; */
    
}
#sync {
	max-width: 7.5%;
	height: auto;
    position: absolute;
    top: 15.5em;
    left: 11.5em;
    /* margin-top: 21.75vh;
    margin-left: 8.75vw; */
    animation: rotate 7s linear infinite;
}
@keyframes rotate{
    to{ transform: rotate(360deg); }
  }

#noSync{
    position: absolute;
    max-width: 42%;
    height: auto;
}
@media screen and (max-width : 1024px){
    #sync{
        display: none;
    }
    #noSync{
        display: none;
    }
}