<p>actifs works!</p>
<p>{{dataAddress.rue}}</p>
<div class="row d-flex" id="geocod">
    <div class="container col-6">
        <div id="map" class="actifMap">

        </div>
    </div>
</div>

    <!-- ************************************  Formulaire Geocoding ***************************** -->
 <!--   <div class="container col-6" id="geocodResult" >
        <form (ngSubmit)="findGeocoding(userForm)" #userForm='ngForm' >
            <input ngModel type="text" name='adress'>
            <button class='btn btn-primary ' type='submit'>Find</button>
        </form>

    -->

        <!-- *********************************** Affichage resultat geocoding  *********************** -->
 <!--       <div class="container" >
            <h3 class="text-ligth">Resultat Geocoding</h3>
            <div class="row">
                <div class="row d-inline"><span class="text-light" id="0">N° : </span><span class="text-dark" >{{dataAddress.numero}}</span></div>
                <div class="row d-inline"><span class="text-light" id="1">Rue : </span><span class="text-dark" >{{dataAddress.rue}}</span></div>
                <div class="row d-inline"><span class="text-light" id="2">Code Postal : </span><span class="text-dark" >{{dataAddress.cp}}</span></div>
                <div class="row d-inline"><span class="text-light" id="3">Ville : </span><span class="text-dark" >{{dataAddress.ville}}</span></div>
                <div class="row d-inline"><span class="text-light" id="4">Département : </span><span class="text-dark" >{{dataAddress.departement}}</span></div>
                <div class="row d-inline"><span class="text-light" id="5">Région : </span><span class="text-dark" >{{dataAddress.region}}</span></div>
                <div class="row d-inline"><span class="text-light" id="6">Pays : </span><span class="text-dark" >{{dataAddress.pays}}</span></div>
                <div class="row d-inline"><span class="text-light" id="6">Latitude : </span><span class="text-dark" >{{dataAddress.lat}}</span></div>
                <div class="row d-inline"><span class="text-light" id="6">Longitude : </span><span class="text-dark" >{{dataAddress.lng}}</span></div>

            </div>
        </div>
    </div>
</div>-->

<!-- ***********************************  formulaire de modification  *************************** -->
<div class="row" >
    <form id="actiForm">
    </form>
</div> 

<!-- ************************************* Actif detaillé  ******************************* -->
<div id="actifDetail" class="row text-light" style='width:500px'>

</div>