<!-- ************************************************  Form Connexion ***************************************** -->
<div class="container">

    <div *ngIf="(origin=='connexion' && !session)">
        <div class="bordure ">
            <h2 class="text-center mb-4">Formulaire de connexion</h2>
            <form (ngSubmit)="loginUserBack(userForm)" #userForm='ngForm' class="text-center ">
                <div class='d-grid gap-2 col-6 mx-auto mt-4'>
                    <label for="login">Entrez votre identifiant</label>
                    <input ngModel type="text" name='login' class="form-control col-6" id='login'>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mt-4">
                    <label for="password">Entrez votre mot de pass</label>
                    <input ngModel type="text" name='mdp' class="form-control col-6" id='mdp'>
                </div>
                <div class='d-grid gap-2 col-6 mx-auto mt-4'>
                    <button class='btn btn-primary ' type='submit' id="connect">Connexion</button>
                </div>
            </form>
            <button class="btn btn-success d-grid gap-2 col-6 mx-auto mt-4" (click)="checkOrigin()">Créer votre
                compte</button>
        </div>
    </div>


    <!-- ************************************************  Form Creation ***************************************** -->

    <div *ngIf="(origin=='creation')">
        <div class="bordure">
            <h2 class="text-center">Formulaire d'inscription</h2>
            <form (ngSubmit)="creatAccount(newUserForm)" #newUserForm='ngForm'>
                <div class='mb3'>
                    <label for="name">Entrez votre nom</label>
                    <input ngModel type="text" name='name' class="form-control" id='name' ngModel>
                </div>
                <div class='mb3'>
                    <label for="firstName">Entrez votre prenom</label>
                    <input ngModel type="text" name='firstName' class="form-control" id='firstName' ngModel>
                </div>
                <div class='mb3'>
                    <label for="email">Entrez votre email</label>
                    <input ngModel type="text" name='email' class="form-control" id='email' ngModel>
                </div>
                <div class='mb3'>
                    <label for="login">Entrez votre identifiant de connexion(login)</label>
                    <input ngModel type="text" name='login' class="form-control" id='login' ngModel>
                </div>
                <div class='mb3'>
                    <label for="phone">Entrez votre numéro de téléphone</label>
                    <input ngModel type="text" name='phone' class="form-control" id='phone' ngModel>
                </div>
                <div class='mb3'>
                    <label for="statutUsers">Selectionnez votre statut</label><br>
                    <select class="form-select" aria-label="Default select example"  id="statutUsers" name='statutUsers' ngModel>
                        <!-- <option selected>--Sélectionnez votre statut--</option> -->
                        <option value="Propriétaire">Propriétaire</option>
                        <option value="Agence">Agence</option>
                        <option value="Copropriétaire">Copropriétaire</option>
                      </select>
                    

                </div>
                <div class="mb-3">
                    <label for="mdp">Entrez votre mot de pass</label>
                    <input ngModel type="password" name='mdp' class="form-control" id='mdp'>
                </div>
                <div class='d-grid gap-2 col-6 mx-auto mt-4'>
                    <button class='btn btn-primary ' type='submit' id="connect">Enregistrer
                        votre compte</button>
                </div>
            </form>
            <button class="btn btn-success" (click)="checkConnexion()">Déja un compte?</button>
        </div>
    </div>
</div>