<h1 class="text-center mb-5">Liste des abonnés</h1>


<section class="container">
    <div class="row">
        <div class="col-3">
            <div id="navert"  *ngFor="let elt of userList">
                <button class="btn btn-info mt-3" (click)="getUserByID(elt)">{{elt.name}}</button>
            </div>
        </div>

        <div class="col-8 " *ngIf="affichSelected">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nom : {{userSelected.name}}</li>
                    <li class="list-group-item">Prénom : {{userSelected.firstName}}</li>
                    <li class="list-group-item">Email : {{userSelected.email}}</li>
                    <li class="list-group-item">role : {{userSelected.role}}</li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-danger" (click)="suprimUser(userSelected)">Supprimer abonné</button>
                </div>
            </div>
        </div>
    </div>
</section>